<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="render_loading" content="render_loading">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
    <title><%= TAG_TITLE %></title>

    <meta name="description" content="<%= META_DESCRIPTION %>">
    <meta name="apple-mobile-web-app-title" content="<%= APP_NAME %>">
    <meta name="application-name" content="<%= APP_NAME %>">
    <meta name="msapplication-TileColor" content="#bd2326">
    <meta name="theme-color" content="<%= META_THEME_COLOR %>">
</head>
<body>

<noscript id="noscript-tag"><strong>We're sorry but website doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>

<div id="app"></div>
<!-- built files will be auto injected -->

</body>
</html>
